[MESSAGES CONTROL]

disable=missing-module-docstring,
        missing-function-docstring,
        import-error,
        cyclic-import,
        unused-wildcard-import,
        wildcard-import,
        bare-except
