{% extends "layout.html" %}
{% block content %}
<h2> Album info: </h2>

<form action="/send" method="POST">
  <label for="artist"><p style="display:inline">Artist:</p></label>
  <input type="text" id="artist" name="artist"><br>
  <label for="name"><p style="display:inline">Name:</p></label>
  <input type="text" id="name" name="name"><br>
  <label for="genre"><p style="display:inline">Genre:</p></label>
  <input type="text" id="genre" name="genre"><br>
  <label for="year"><p style="display:inline">Year:</p></label>
  <input type="text" id="year" name="year"><br>
<input type="submit" value="Add">
</form>
{% endblock %}
