{% extends "layout.html" %}
{% block content %}

<h2> Albums: {{ count }} </h2>

<table class="styled-table">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Album name</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Rating</th>
      <th> </th>
      <th> </th>
    <tr>
  </thead>
{% for album in albums%}
  <tbody>
    <tr>
      <td> {{ album.artist }} </td>
      <td> {{ album.name }} </td>
      <td> {{ album.genre }} </td>
      <td> {{ album.year }} </td>
      <td> {{ album.rating }} </td>
      <td> <a href="review/{{album.id}}"><button>review</button></a> </td>
      <td> <a href="comments/{{album.id}}"><button>view comments</button></a> </td>
    </tr>
  </tbody>
{% endfor %}
</table>

{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<a href="/logout"><button>Log out</button></a>
{% else %}
<form action="/login" method="POST">
  <p>Username:<br>
    <input type="text" name="username"></p>
  <p>Password:<br>
    <input type="password" name="password"></p>
  <input type="submit" value="Log in">
</form>
{% endif %}
{% endblock %}
